a{
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.75rem;
  font-weight: 600;
  width: 10rem;
  margin-bottom: 1rem;
}
a:hover{
  background-color: rgb(233, 229, 224);
  border-radius: 10px;
  
}
.links-container h1{
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
}
.recipe-links{
  background-color: bisque;
  width: 50%;;
  margin: auto;
  padding: 2rem;

}
.recipe-links li {
  display: flex;
  list-style: none;
}
.recipe-links li a{
  display:inline-block;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(94, 82, 66);
  border-radius: 1.3rem;
  text-decoration: none;
  background-color: aliceblue;
  width: 100%;
  text-align: center;

}
.recipe-links li a:hover{
  filter: brightness(0.7);
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
 
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 3px 3px 81px rgb(239, 229, 229);

}
.card p{
 text-align: center;
 width: 65%;
}

@media only screen and (min-width: 600px) {
 .main{
  width: 60%;
 }
}